html, body {
    padding: 0;
    margin:  0;
    height:  fit-content;
}

body {
    position: relative;
    display:  block;
    width:    355px;
    height:   fit-content;
    font-family: 'Rubik', sans-serif;
}
.settings {
    width:            100%;
    padding:          10px;
    position:         relative;
    box-sizing:       border-box;
    background-color: #191935;
}
label {
    color:white;
    margin:0;
}
.settings > .remote_key > input,
.settings > .email > input {
    margin: 2px 0 10px 0;
    width:  100%;
}

.settings > .remote_key > input,
.settings > .email > input {
    padding: 5px 10px;
}

.settings > .save_settings {
    margin-top: 10px;
}
.settings > .save_settings > button {
    color: white !important;
}
.button_common:hover {
    background-color: #eebd86 !important;
}
.button_common {
    padding: 5px 10px;
    cursor:  pointer;
    width: 100%;
    background-color:#dcaa70;
    color:#383b41;
    border-radius: 5px;
    margin: 5px 0;
}
.disabled {
    opacity: 0.3;
}

#global_loading {
    position:        absolute;
    display:         flex;
    left:            0;
    right:           0;
    top:             0;
    bottom:          0;
    align-items:     center;
    justify-content: center;
    opacity:         0.8;
    background:      #fff;
}

#global_loading .sk-rotating-plane {
    display: flex;
}

.error {
    color: red;
}

.button-comment {
    font-size: smaller;
}
.active-status {
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f3f2d5;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    color:black;
    margin-top: 7px;
}
.active-text-icon, .stop-text-icon {
    width: 81%;
    float: left;
    font-size: 12px;
}
.active-status .active-schedule, .stop-text-icon .sold-schedule {
    width: 68%;
    display: inline-block;
    text-align: left;
    font-size: 13px;
}
.active-status .red-text {
    width: 25%;
    display: inline-block;
    text-align: left;
    margin-left: 1px;
    color: red;
    font-weight: bold;
    font-size: 12px;
}
.button-icon {
    width: 16%;
    float: right;
    padding-left: 0px;
}
.play-button {
    float: left;
    margin-right: 5px;
}
.pause-button {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.green-text {
    color: green;
    font-weight: bold;
    margin-left: 0;
}
.stop-button-icon {
    width: 19%;
    float: left;
    padding-left: 8px;
}
.controls {
    padding: 10px;
}
#logs {
    padding: 10px 10px 0;
}
#loading {
    position:        absolute;
    display:         flex;
    left:            0;
    right:           0;
    top:             0;
    bottom:          0;
    align-items:     center;
    justify-content: center;
    opacity:         0.8;
    background:      #fff;
}
.loderImage {
    display:           none;
    width:             10px;
    height:            10px;
    margin-left:       5px;
    background-color:  #191935;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation:         sk-rotatePlane 1.2s infinite ease-in-out;
}
#loading .loderImage {
    display: flex;
}
a.notif {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    background: url(/images/noti.png);
    background-size: 25px auto;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    right: 10px;
}
.num {
  position: absolute;
  right: -3px;
  top: -5px;
  color: #fff;
  background: red;
  text-align: center;
  font-size: 11px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  line-height: 20px;
}
.tooltip.bottom .tooltip-arrow   {
    border-bottom-color: #191935 !important;
}
.white-tooltip + .tooltip {
    opacity: 1;
}
.white-tooltip + .tooltip > .tooltip-inner {
    background-color: #fff;
    color: #000;
    opacity: 1;
}
.remote_key, .remote_key label {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.remote_key label a,.dropshippingLink {
    color: #fff;
}
.dropshippingLink {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
}
.dropshippingLink:hover {
    color: #fff;
}

/*loader*/
 
.circle-loader {
    position: relative;
    width: auto;
    height: auto;
    margin: 47px 86px;
}

/* CIRCLE DOT LOADER */

.circle-loader {
  position: relative;
  width: auto;
  height: auto;
}

.circle-loader div {
  height: 10px;
  width: 10px;
  background-color: #4e4444;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: 0.8s opaque ease-in-out infinite both;
  animation: 0.8s opaque ease-in-out infinite both;
}

.circle-loader > div:nth-child(1) {
  top: -25px;
  left: 0;
}
.circle-loader > div:nth-child(2) {
  top: -17px;
  left: 17px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.circle-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.circle-loader > div:nth-child(4) {
  top: 17px;
  left: 17px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.circle-loader > div:nth-child(5) {
  top: 25px;
  left: 0;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.circle-loader > div:nth-child(6) {
  top: 17px;
  left: -17px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.circle-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.circle-loader > div:nth-child(8) {
  top: -17px;
  left: -17px;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
@-webkit-keyframes opaque {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes opaque {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}

